.odd {
  background-color: rgb(240, 134, 169);
  font-style: Verdana, "DejaVuSans", sans-serif;

}

#two {
  color: blue;
  font-size: 36px;
}

.odd.cool {
  font-size: 24px;
}

#four {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}